<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>home</title>
   <link rel="stylesheet" type="text/css" href="./style.css">
   
</head>
<body>
   <div class="nav-bar">
      <ul>
        <li><a href=home.html>home</a></li>
        <li><a href="contact-us.html">contact us</a></li>
        <li><a href="our-services.html">services</a></li>
      </ul>
   </div>
   <div class="title">
      <h1>title</h1>
   </div>
   <div class="corp">
      <p>cantent</p>
   </div>
</body>
</html>